/*用户个人信息界面*/

.index .user{
    position: fixed;
    top: 0;
    z-index: 20;
    width: 100%;
    background: rgba(0,0,0,.2);
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.index .user i{
    font-size: 20px;
    color: #fff;
    margin: 10px;
}

.user .user_header,.user .user_info_list,.user footer{
    width: 80%;
    background: #3eede7;
}

.user .user_header .avatar{
    padding: 20px 10px;
}

.user .avatar img{
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.user .name_level{
    margin-top: 10px;
}
.user .level{
    font-style: italic;
    border-radius: 5px;
    border: 1px solid #fff;
    margin: 10px 10px;
    font-size: 12px;
    padding: 0 3px;
}
.user .sign{
    float: right;
    border: 1px solid #fff;
    padding: 0 10px;
    border-radius: 15px;
}
section.user_info_list{
    height: calc(100vh - 161px);
    height: -webkit-calc(100vh - 161px);
    height: -moz-calc(100vh - 161px);
    overflow: scroll;
}
section.user_info_list>div{
    margin: 5px 0;
}
section.user_info_list>div>div{
    height: 40px;
}
section.user_info_list span{
    display: inline-block;
    height: 40px;
    line-height: 40px;
    vertical-align: top;
}
.user footer{
    display: flex;
}
.user footer>span{
    flex: 1;
}
.user footer>span span{
    display: inline-block;
    height: 40px;
    line-height: 40px;
    vertical-align: top;
}