.playlist_box:after{
    content: '';
    clear: both;
    visibility: hidden;
    display: block;
    height: 0;
    line-height: 0;
    margin-bottom: 30px;
}
.playlist_box .list_container{
    position: relative;
    float: left;
    width: 33.33%;
    margin-bottom: 10px;
}
.playlist_box .list_container .cover img{
    width: 100%;
    height: 100px;
}
.playlist_box .list_container .description{
    font-size: 12px;
    color: black;
    margin: -5px 0 0 -5px;
    height: 35px;
    overflow: hidden;
    /*text-overflow: ellipsis;*/
    /*white-space: nowrap;*/
    -webkit-transform: scale(.9);
    -moz-transform: scale(.9);
    -ms-transform: scale(.9);
    -o-transform: scale(.9);
    transform: scale(.9);
}
.playlist_box .playCount{
    position: absolute;
    top: 3px;
    right: 4px;
    font-size: 12px;
    color: white;
}
.playlist_box .playCount i{
    font-size: 15px;
    position: relative;
    top: 3px;
}