html,body{
    height: 100%;
    width: 100%;
}

.comments_show{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
}
.single_music{
    /*background: #efefef;*/
    position: relative;
}

.single_music .back{
    height: 40px;
    border-bottom: 1px solid #efefef;
    position: relative;
    font-size: 12px;
}
.single_music .back .name{
    position: absolute;
    left: 45px;
    top: 3px;
}
.single_music .back .arname{
    position: absolute;
    left: 45px;
    top: 20px;
    -webkit-transform: scale(.8);
    -moz-transform: scale(.8);
    -ms-transform: scale(.8);
    -o-transform: scale(.8);
    transform: scale(.8);
}
.single_music .container{
    text-align: center;
    margin: 20px 0;
    /*height: 400px;*/
    height: calc(100vh - 165px);
    height: -moz-calc(100vh - 165px);
    height: -webkit-calc(100vh - 165px);
    overflow: hidden;
    /*overflow: scroll;*/
    /*box-sizing: border-box;*/
    background: #efefef;
    position: relative;
}
/*背景模糊图片*/
/*.single_music .container .bg_filter{*/
/*position: absolute;*/
/*left: 0;*/
/*top: 0;*/
/*width: 100%;*/
/*height: 100%;*/
/*-ms-filter: blur(3px);*/
/*filter: blur(3px);*/
/*border-radius: 0;*/
/*z-index: 2;*/
/*}*/
.single_music .container .lyric{
    position: absolute;
    height: 90%;
    width: 70%;
    margin: 5% 15%;
    box-sizing: border-box;
    background: #efefef;
    overflow: hidden;
}

.single_music .container .bg_animation{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #efefef;
}
/*评论下载小图标*/
.single_music .container .bg_animation .download_dis_icon{
    position: absolute;
    left: 0;
    bottom: 5px;
    height: 25px;
    text-align: center;
    width: 100%;
    padding: 0 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.single_music .container .bg_animation .download_dis_icon i{
    font-size: 25px;
    margin-left: calc(12.5% - 12.5px);
    margin-left: -moz-calc(12.5% - 12.5px);
    margin-left: -webkit-calc(12.5% - 12.5px);
    margin-right: calc(12.5% - 12.5px);
    margin-right: -moz-calc(12.5% - 12.5px);
    margin-right: -webkit-calc(12.5% - 12.5px);
}
/*评论图标*/
.bg_animation .download_dis_icon .comment{
    position: relative;
}
.bg_animation .download_dis_icon .comment .total{
    font-size: 12px;
    position: absolute;
    top: -12px;
    right: 15px;
    background: #efefef;
    padding: 1px;
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
    transform: scale(0.7);
}
/*音量条*/
.single_music .container .volume{
    position: absolute;
    left: 0;
    top: 0;
    font-size: 20px;
    margin: 5px 10px;
}
.single_music .container .volume_bar{
    position: absolute;
    left: 40px;
    top: 0;
    margin-top: 12px;
    width: calc(100% - 60px);
    width: -moz-calc(100% - 60px);
    width: -webkit-calc(100% - 60px);
    height: 6px;
    background: #ffffff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.single_music .container .current_volume{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 6px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: rgba(78,228,224,.5);
}

/*动画展示*/
.single_music .container img{
    /*margin: 100px auto;*/
    position: relative;
    top: calc(50% - 100px);
    top: -webkit-calc(50% - 100px);
    top: -moz-calc(50% - 100px);
    /*margin-top: calc(50% - 100px);*/
    /*margin-top: -moz-calc(50% - 100px);*/
    /*margin-top: -webkit-calc(50% - 100px);*/
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation: roll 10s linear infinite;
    -webkit-animation: roll 10s linear infinite;
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
}
@-webkit-keyframes roll {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes roll {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}
/*歌词显示*/
.single_music .container .lyric_show{
    /*height: 300px;*/
    min-height: 400px;
    width: 100%;
    margin: 0 auto;
    background: #efefef;
    opacity: .5;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
    -webkit-transition: all .8s;
    -moz-transition: all .8s;
    -ms-transition: all .8s;
    -o-transition: all .8s;
    transition: all .8s;
    position: absolute;
    top: calc(50% - 15px);
    top: -moz-calc(50% - 15px);
    top: -webkit-calc(50% - 15px);
    /*margin-top: calc(50% - 15px);*/
    /*margin-top: -moz-calc(50% - 15px);*/
    /*margin-top: -webkit-calc(50% - 15px);*/
}
.single_music .line_lyric{
    margin: 0;
    padding: 0;
    min-height: 30px;
    line-height: 20px;
    text-align: center;
    width: 100%;
}
.single_music .line_lyric.show{
    color: #66ccff;
}

/*google图标样式自定义*/
.material-icons{
    /*color: #6cf;*/
    color: rgba(78,228,224,.5);
    font-size: 40px;
}
/*播放控制管理*/
footer.progress_bar{
    position: fixed;
    left: 0;
    bottom: 20px;
    /*background: #000000;*/
    width: 100%;
    text-align: center;
    font-size: 12px;
}
.progress_bar .rate{

}
.button_list{text-align: center;}
.button_list div{
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgba(78,228,224,.5);
    margin: 0 20px;
}
.button_list div:hover{
    -webkit-box-shadow: 0 0 5px 5px rgba(78,228,224,1);
    -moz-box-shadow: 0 0 5px 5px rgba(78,228,224,1);
    box-shadow: 0  0 5px 5px rgba(78,228,224,1);
}
/*进度条样式*/
.rate{
    width: 80%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*padding: 0 20px;*/
    margin: 5px;
    height: 8px;
    border-radius: 4px;
    background: #efefef;
    position: relative;
    display: inline-block;
}
.rate .buffer,.rate .played{
    position: absolute;
    height: 8px;
    border-radius: 5px;
    left: 0;
    top: 0;
}
.rate .buffer{background: rgba(102,204,255,.5);}
.rate .played{background: rgba(78,228,224,.5);}
.progress_bar .played_time,.progress_bar .total_time{
    margin-top: -4px;
    position: absolute;
    top: 4px;
    width: 32px;
    height: 16px;
}
.progress_bar .played_time{left: 0;}
.progress_bar .total_time{right: 0;}